nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition:  0.32s ease-in-out;
}
.second-navbar {
  z-index: -1;
  margin-top: 75px;
  background-color: lightgoldenrodyellow;
  width: 10%;
  height: 100%;
  position: fixed;
}